@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-gray-700 {
  background-color: #2d3748;
}
.dark .bg-gray-700 {
  background-color: #4a5568;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  position: relative;
  overflow: visible;
}

.user-dropdown {
  transition: opacity 0.3s ease-in-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated {
  background: linear-gradient(
    -45deg,
    #1a327e,
    #2c3e50,
    #111f4a,
    #0a1a33,
    #192a56,
    #273c75,
    #0c1639
  );
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
}

/* Toast notification */
.custom-toast {
  background: linear-gradient(to bottom, #a5d6a7, #66bb6a) !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 20px !important;
  font-size: 1.2em !important;
  font-style: italic !important;
  display: flex;
  align-items: center;
}

.Toastify__toast--success {
  background: linear-gradient(to bottom, #a5d6a7, #66bb6a) !important;
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.6) !important;
  height: 4px !important;
}

.dark .custom-toast {
  background: linear-gradient(to bottom, #2e7d32, #1b5e20) !important;
}

.dark .Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.8) !important;
}
